<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/colResizable-1.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

    <title>仓库管理</title>
</head>
<body>
<div class="container">

    <div id="button" class="mt10">
        <a href="__CONTROLLER__/add">
        <input type="button" name="button" class="btn btn82 btn_add" value="新增">
        </a>
        <input type="button" name="button" class="btn btn82 btn_del" value="删除">
        <input type="button" name="button" class="btn btn82 btn_checked" value="全选">
        <input type="button" name="button" class="btn btn82 btn_nochecked" value="取消">
    </div>

    <div id="table" class="mt10">
        <div class="box span10 oh">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table" style="width:30%;">
                <tr>
                    <th width="30">#</th>
                    <th width="100">仓库名称</th>
                    <th width="200">仓库地址</th>
                    <th width="100">操作</th>
                </tr>
                <foreach name="list" item="vo">
                 <tr class="tr">
                    <td class="td_center"><input data-id="{$vo.id}" name="checkbox" type="checkbox"></td>
                    <td>{$vo.name}</td>
                    <td>{$vo.address}</td>
                     <td><a href="__CONTROLLER__/update/id/{$vo.id}" class="opa">修改</a></td>
                 </tr>
                </foreach>
            </table>

        </div>
    </div>


</div>
<script type="text/javascript">
$(document).ready(function(){
    $(".btn_del").click(function(){
        if(confirm("确定删除吗？")){
            url = "__CONTROLLER__/del/ids/"+getCheckboxIds();
            location = url;
        }
    });

});
</script>
</body>
</html>
  